{
    "singleQuote": true,
    "tabWidth": 4,

    "overrides": [
        {
            "files": [
                "tests/macros/GroupData.test.js"
            ],
            "options": {
                "trailingComma": "es5"
            }
        }
    ]
}
