<%
// Inserts quicklinks for the accessibility roles.
var url = "/" + env.locale + "/docs/Web/Accessibility/AT-APIs/Gecko/Roles";
%>
<section class="Quick_links" id="Quick_Links">
<%-wiki.tree(url, 2, 0, 0, 1)%>
</section>
