<%
// Inserts a link to the specified ARIA state's specification on the W3C site.
//
//  $0 - ARIA state's name

var link = 'http://www.w3.org/TR/wai-aria/states_and_properties#aria-' + $0;
var linktext = 'aria-' + $0;
%>
<a href="<%=link%>" class="external"><code><%=linktext%></code></a>
