<%
// Inserts a link to the WAI-ARIA roles spec for a specified role.
// Used in: en/Accessibility/AT-APIs/Gecko/Roles/ROLE_TABLE
//
//  $0 - role

var link = 'http://www.w3.org/TR/wai-aria/roles#' + $0;
%>
<a href="<%=link%>" class="external"><%=$0%></a>
