<%
/*
  Displays the version of Microsoft Edge according to the EdgeHTML version

  $0 - EdgeHTML version (as shown at https://en.wikipedia.org/wiki/Microsoft_Edge#Release_history)
*/
var edgeVersion = "";
var edgeHTMLVersion = $0;

var title = mdn.localString({
    "en-US" : "Released on $releaseDate$.",
    "es"    : "Publicado en $releaseDate$.",
    "fr"    : "Sorti le $releaseDate$.",
    "de"    : "Veröffentlicht am $releaseDate$.",
    "ru"    : "Выпущен $releaseDate$."
});

var releases = {
    "12.10240": { // Desktop
        version: "20",
        date: "2015-07-15",
        url: "https://developer.microsoft.com/en-us/microsoft-edge/platform/changelog/desktop/10240/"
    },
    "13.10586": { // Desktop, mobile, Xbox & server
        version: "25",
        date: "2015-11-05",
        url: "https://developer.microsoft.com/en-us/microsoft-edge/platform/changelog/desktop/10586/"
    },
    "14.14393": { // Desktop & mobile
        version: "38",
        date: "2016-08-02",
        url: "https://developer.microsoft.com/en-us/microsoft-edge/platform/changelog/desktop/14393/"
    },
    "15.15063": { // Desktop
        version: "40",
        date: "2017-04-11",
        url: "https://developer.microsoft.com/en-us/microsoft-edge/platform/changelog/desktop/15063/"
    },
    "16.16299": { // Desktop
        version: "41",
        date: "2017-09-26",
        url: "https://developer.microsoft.com/en-us/microsoft-edge/platform/changelog/desktop/16299/"
    }
};

var release = releases[edgeHTMLVersion];
if (!release) {
    release = {
        version: "Insider"
    };
}
var result = "";

if (release.url) {
    var titleStr = "";
    if (release.date) {
        titleStr = " title=\"" +
            mdn.replacePlaceholders(title, {releaseDate: release.date}) +
            "\"";
    }
    result = mdn.replacePlaceholders('<a href="$url$"$title$>$version$</a>',
        {
            url: release.url,
            title: titleStr,
            version: release.version
        });
} else {
    result = release.version;
}

result += " (" + edgeHTMLVersion + ")";
%>
<%- result %>
