<% if ("pt" == env.locale) { %>
    <span lang="pt" class="lang lang-pt">
      <ul>
        <li>Veja os fóruns do MDC+. <ul>
          <li><a class="external"
            href="http://groups-beta.google.com/group/mozilla.dev.mdc.pt"
            >como um grupo Google</a>
          </li>
          <li><a class="external"
            href="http://groups-beta.google.com/group/mozilla.dev.mdc.pt/feeds"
            >como um Web Feed</a>
          </li>
          <li><a class="external"
            href="https://lists.mozilla.org/listinfo/dev-mdc-pt">como uma
            lista de e-mail</a>
          </li>
          <li><a class="external"
            href="news://news.mozilla.org/mozilla.dev.mdc.pt">como um
            newsgroup</a>
          </li>
        </ul>
        </li>
      </ul>
    </span>

<% } else { %>
    <span lang="*" class="lang lang-*">
      <ul>
        <li>Veja os fóruns do MDC+. <ul>
          <li><a class="external"
            href="http://groups-beta.google.com/group/mozilla.dev.mdc.pt"
            >como um grupo Google</a>
          </li>
          <li><a class="external"
            href="http://groups-beta.google.com/group/mozilla.dev.mdc.pt/feeds"
            >como um Web Feed</a>
          </li>
          <li><a class="external"
            href="https://lists.mozilla.org/listinfo/dev-mdc-pt">como uma
            lista de e-mail</a>
          </li>
          <li><a class="external"
            href="news://news.mozilla.org/mozilla.dev.mdc.pt">como um
            newsgroup</a>
          </li>
        </ul>
        </li>
      </ul>
    </span>

<% } %>
