<%
// Lists all the CSS data types, seperated by a comma
// Warning: special case for color (hardcoded)
// Non documented ones are not listed

var list_type = ""; // result

var not_first = false;

var locale = env.locale;

function add_data_type(data_type) {
    if (not_first) {
        list_type += ', ';
    }
    not_first = true;
    list_type += '<code><a href="/' + locale + '/docs/Web/CSS/';
    if (data_type != 'color') {
         list_type += data_type;
    }
    else {
        list_type += 'color_value';
    }
    list_type += '">&lt;' + data_type + '&gt;</a></code>';
}

['angle', 'blend-mode', 'color', 'custom-ident', 'frequency', 'gradient', 'image', 'length', 'number', 'percentage', 'position', 'ratio', 
 'resolution', 'shape', 'string', 'time', 'timing-function', 'uri'].forEach( add_data_type );
%>
<%- list_type %>
