<%
// Lists all the CSS data types, seperated by a comma
// Warning: special cases for color, flex, position (hardcoded)
// Undocumented types are not listed

var list_type = ""; // result

var not_first = false;

var locale = env.locale;

function add_data_type(data_type) {
    if (not_first) {
        list_type += ', ';
    }
    not_first = true;
    list_type += '<code><a href="/' + locale + '/docs/Web/CSS/';

    switch (data_type) {
        case "color":
        case "flex":
        case "position":
            list_type += data_type + '_value';
            break;
        default:
            list_type += data_type;
    }

    list_type += '">&lt;' + data_type + '&gt;</a></code>';
}

['angle', 'basic-shape', 'blend-mode', 'color', 'custom-ident', 'flex', 'frequency', 'gradient', 'image', 'integer', 'length', 'number', 'percentage', 'position', 'ratio', 
 'resolution', 'shape', 'single-transition-timing-function', 'string', 'time', 'transform-function', 'url'].forEach( add_data_type );
%>
<%- list_type %>
