<%
var linktext = mdn.localString({
    "de"    : "Live-Beispiel ansehen",
    "en-US" : "View Live Examples",
    "es"    : "Ver ejemplos en directo",
    "fr"    : "Voir l'exemple sur une page",
    "ja"    : "実際の表示を確認",
    "ko"    : "실제 예제 보기",
    "pl"    : "Zobacz przykład",
    "ru"    : "Посмотреть живые примеры",
    "zh-CN" : "查看在线演示",
    "zh-TW" : "查看示例"
});

var link = '/samples/cssref/' + $0 + '.html';
var result = '<a class="button liveSample" rel="custom" href="' + link +'">' + linktext +'</a>';
%><%- result %>
