<%
var linktext = mdn.localString({
    "en-US": "View Live Examples",
    "es":    "Ver El Ejemplo Vivo",
    "de":    "Live-Beispiel ansehen",
    "fr":    "Voir l'exemple sur une page",
    "ja":    "実際の表示を確認",
    "ko":    "실제 예제 보기",
    "pl":    "Zobacz przykład",
    "zh-CN": "查看在线演示",
    "zh-TW": "查看示例",
    "ru":    "Посмотреть живые примеры",
    "pt-BR": "Ver exemplos ao vivo"
});

var link = '/samples/cssref/' + $0 + '.html';
var result = '<a class="button liveSample" rel="custom" href="' + link +'">' + linktext +'</a>';
%><%- result %>
