<%

var nearIs = mdn.localString({
    "en-US": "The current user proximity state.",
    "ca"   : "The current user proximity state.",
    "cs"   : "The current user proximity state.",
    "de"   : "The current user proximity state.",
    "el"   : "The current user proximity state.",
    "es"   : "The current user proximity state.",
    "fa"   : "The current user proximity state.",
    "fi"   : "The current user proximity state.",
    "fr"   : "The current user proximity state.",
    "he"   : "The current user proximity state.",
    "hr"   : "The current user proximity state.",
    "hu"   : "The current user proximity state.",
    "id"   : "The current user proximity state.",
    "it"   : "The current user proximity state.",
    "ja"   : "ユーザーの現在の近接状態"           ,
    "ka"   : "The current user proximity state.",
    "ko"   : "The current user proximity state.",
    "ms"   : "The current user proximity state.",
    "nl"   : "The current user proximity state.",
    "pl"   : "The current user proximity state.",
    "ro"   : "The current user proximity state.",
    "ru"   : "The current user proximity state.",
    "sq"   : "The current user proximity state.",
    "th"   : "The current user proximity state.",
    "tr"   : "The current user proximity state.",
    "vi"   : "The current user proximity state.",
    "bn-BD": "The current user proximity state.",
    "fy-NL": "The current user proximity state.",
    "ga-IE": "The current user proximity state.",
    "pt-BR": "The current user proximity state.",
    "pt-PT": "The current user proximity state.",
    "zh-CN": "当前的用户接近状态。",
    "zh-TW": "The current user proximity state."
});



%><tr>
  <td><code>near</code> <%- template("readonlyInline")%></td>
  <td>boolean</td>
  <td><%- nearIs %></td>
</tr>
