<%
// Create a download button using the green download button styling.
//
// Parameters:
//  $0  URL of download link
//  $1  Text for the button

var html = "<a class='ignore-external download-button' href='" + $0 + "'>" + $1 + "</a>";
%>
<%-html%>
