<%
// Insert a banner indicating that the page is a draft. If a parameter is
// provided, it's added to the box as an explanation for the draft status;
// this could be used to include information about who's working on the
// page, what hasn't been done yet, or even what specifically could use
// some review help.
//
// Parameters:
//  $0  (optional) A string providing details about why the page is a draft.
//      You can make MDN usernames link to the corresponding profile by
//      prefacing them with "~~", like "~~supereditordeluxe".
//
// If you use a profile link, make sure your profile includes a way to
// contact you.

var s_draft = mdn.localString({
    "en-US": 'Draft',
    'es': 'Borrador',
    'fr': 'Brouillon',
    'ja': '草案',
    'ko': '초안',
    'pl': 'Szkic',
    'pt-BR': 'Rascunho',
    'pt-PT': 'Esboço',
    'ru': 'Черновик',
    'zh-CN': '草案',
    'zh-TW': '編撰中'
});
var s_not_complete = mdn.localString({
    "en-US": 'This page is not complete.',
    'es': "Esta página no está completa.",
    'fr': "Cette page n'est pas terminée.",
    'ja': "このページは完成していません。",
    'ko': "이 문서는 작성중입니다.",
    'pl': "Strona ta nie jest jeszcze ukończona.",
    'pt-BR': 'Esta página está incompleta.',
    'pt-PT': 'Esta página está incompleta.',
    'ru': 'Эта страница не завершена.',
    'zh-CN': "本页尚未完工.",
    'zh-TW': '本頁仍未完成'
});

// Handle the optional string

var s_details = '';

if ($0) {
    s_details = $0;
    
    var pattern = /~~(\w+)(\W)/ig;
    
    s_details = "<em>" + s_details.replace(pattern, function replacer(match, username, endchar) {
        return "<a href='https://developer.mozilla.org/profiles/" + username + "'>" + username + "</a>" + endchar;
    }) + "</em>";
}

%><div class="overheadIndicator draft">
    <p><strong><%=s_draft%></strong><br/>
    <%=s_not_complete%></p>
    <%-s_details%>
</div>
