<tr>
  <td><code>dataTransfer</code></td>
  <td>DataTransfer</td>
  <td>The data that underlies a drag-and-drop operation, known as the <a href="/en-US/docs/Web/API/DataTransfer">drag data store</a>. <%= $0 || "Protected mode." %></td>
</tr>
