<%
/*
  Displays a link to Microsoft Edge's issue tracker

  $0 - Issue number
*/
var bugPageURL = "https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/" + $0;
var s = "";
var linkLabel = mdn.replacePlaceholders(mdn.localString({
    "en-US": "Edge bug $1$",
    "zh-CN": "Edge bug $1$",
    "de": "Edge Bug $1$",
    "ca": "Edge errada $1$",
    "cs": "Edge chyba $1$",
    "pl": "Edge błąd $1$",
    "ru": "Баг Edge $1$"
}), [$0]);
%>
<a rel="external" href="<%= bugPageURL %>" class="external"><%= linkLabel %></a>
