<%
// Embeds a live sample from a interactive-examples.mdn.mozilla.net GitHub page
//
// Parameters:
//  $0 - The URL of interactive-examples.mdn.mozilla.net page (relative)
//
//  Example call {{EmbedInteractiveExample("pages/css/animation.html")}}
//

let jsEditorClass = "";
let surveyClass = "interactive-editor-survey";
let surveyLink = "https://www.surveygizmo.com/s3/3780959/MDN-Interactive-Editor";
let url = "https://interactive-examples.mdn.mozilla.net/" + $0;

if ($0.includes('/js/')) {
    jsEditorClass = 'interactive-js';
}

let str = `<iframe class="interactive ${jsEditorClass}" width="100%" height="250" frameborder="0" src="${url}"></iframe>`;

str += `<p class="${surveyClass}">We would like to get your feedback on our new interactive editor. If you have a minute, <a href="${surveyLink}" rel="noopener">take our survey</a>, and contribute to the future of MDN.</p>`;

%>
<%- str %>
