<% /*
    <div class="noinclude">
      <p>Use this template to cite the ECMAScript 3 language specification.</p>
      <p><strong>Example 1.</strong> This wiki code:</p>
      <pre class="eval">
        <span class="nowiki">{{es3_spec('4.3.16')}}</span>
      </pre>
      <p>produces this link: <a href="http://bclary.com/2004/11/07/#a-4.3.16"
        class=" external">ECMA 262-3 ยง4.3.16</a>.</p>
      <p><strong>Example 2.</strong> This wiki code:</p>
      <pre class="eval">
        <span class="nowiki">{{es3_spec('4.3.16', 'ECMAScript strings')}}</span>
      </pre>
      <p>produces this link: <a href="http://bclary.com/2004/11/07/#a-4.3.16"
        class=" external">ECMAScript strings</a>.</p>
    </div>
*/
%>
<%- web.link('http://bclary.com/2004/11/07/#a-' + $0, $1 || web.html('ECMA 262-3 ยง' + $0)) %>
