<%

var path = "/" + env.locale + "/docs/Web/Reference/Events/";

%>
<ul>
<li><a href="<%- path %>focus"><code>focus</code></a></li>
<li><a href="<%- path %>blur"><code>blur</code></a></li>
<li><a href="<%- path %>focusin"><code>focusin</code></a></li>
<li><a href="<%- path %>focusout"><code>focusout</code></a></li>
</ul>
