<% /*  Inserts the summary information for a Firefox OS UX Guide page.

    Parameter
        $0 - The URL of the page to include the summary for

*/ %><%- template("PageSummary", [$0]) %>
<h3 id="Characteristics" name="Characteristics">Characteristics</h3>
<div>
<%- template("Page", [$0, "Characteristics"]) %>
</div>
