<%/* 
  Adds inline yellow box giving the required
  version of Firefox OS. Example: 
  fxos_minversion_inline("1.1") 
*/%>
<%
/* one parameter: Firefox OS version */
/* get the page language */
var lang = env.locale;

var str = "Requires Firefox OS " + $0;
 
switch(lang) {
    case 'fr':
        str = "Nécessite Firefox OS " + $0;
    break;
    case 'ja':
        str = "Firefox OS " + $0 + " ???";
    break;
    case 'pl':
        str = "Wymaga Firefox OS " + $0;
    break;
    case 'pt':
        str = "Requer Firefox OS " + $0;
    break;
    case 'de':
        str = "Ab Firefox OS " + $0;
        break;
    case 'es':
        str = "Requiere Firefox OS " + $0;
    break;
    case 'ru':
        str = "Требуется Firefox OS " + $0;
    break;
    defaut: break;
}
%>
<span class="inlineIndicator geckoMinVer standardNote standardNoteInline"><%=str%></span>
