<tr><%

var el = env.locale;

switch (el) {

    case "uk":

%>
  <td><code>gampad</code> <%- template("readOnlyInline") %></td>
  <td>Gamepad</td>
  <td>Єдиний атрибут gamepad надає доступ до всіх пов'язаних даних ігрового маніпулятора для цієї події.</td>
<%

        break;
    default:

%>
  <td><code>gampad</code> <%- template("readOnlyInline") %></td>
  <td>Gamepad</td>
  <td>The single gamepad attribute provides access to the associated gamepad data for this event.</td>
<%

    break;

} %></tr>
