<%

var el = env.locale;

var s = mdn.localString({
    "en-US" : "<strong>This is a new technology, part of the ECMAScript 2015 (ES6) standard.</strong><br />" +
              "This technology's specification has been finalized, but " +
              " check the <a href='#Browser_compatibility'>compatibility table</a> for usage and implementation status in various browsers.",
    "fr"    : "<strong>Cette fonction fait partie du standard ECMAScript 2015 (ES6) </strong><br />" +
              "Cette technologie a été finalisée mais il est préférable" +
              " de consulter le <a href='#Compatibilité_des_navigateurs'>tableau de compatibilité</a> pour connaître l'état de l'implémentation dans les différents navigateurs.",
    "ru" : "<strong>Это экспериментальная технология, часть предложения Harmony (ECMAScript 6).</strong><br />" +
              "Поскольку спецификация этой технологии ещё не стабилизировалась," +
              " проверьте <a href='#Browser_compatibility'>таблицу совместимости</a> её использования в различных браузерах." +
              " Также обратите внимание, что синтаксис и поведение экспериментальной технологии могут быть изменены в будущих версиях браузеров в соответствии с изменениями в спецификации.",
    "ja"    : "<strong>これは Harmony(ECMAScript 2015 (ES6)) の一部です。</strong><br />" +
              "この技術の仕様は最終化されていますが、使用にあたっては<a href='#Browser_compatibility'>ブラウザーごとの実装状況の一覧表</a>を確認してください。",
    "zh-CN" : "<strong>这是一个新的技术，属于 ECMAScript 2015 (ES6) 标准。</strong><br />" +
              "此项技术的规范已经定稿，" +
              "查阅<a href='#Browser_compatibility'>兼容性表格</a>了解在各浏览器中的使用和实现状况。"
});


%><div class="overheadIndicator" style="background:#9CF49C;">
    <p><%- s %></p>
</div>
