<%

var str = mdn.localString({
    "en-US" : [
        'The previous URL from which the window was navigated.',
        'The new URL to which the window is navigating.'
    ],
    "uk": [
        'Попередній URL, з якого здійснили перехід.',
        'Новий URL, на який здійснюється перехід.'
    ]
});


%><tr>
  <td><code>oldURL</code> <%- template("readOnlyInline") %></td>
  <td>string</td>
  <td><%- str[0] %></td>
</tr>
<tr>
  <td>newURL <%- template("readOnlyInline") %></td>
  <td>string</td>
  <td><%- str[1] %></td>
</tr>
