<%
// Inserts a link to the specified attribute of a particular HTML element.
//
// Parameters:
//  $0  The attribute to insert
//  $1  The element on which the attribute is used (optional)
//  $2  The text to display (between code)
//  $3  If set, do not put the text in <code></code>
//
// If the element isn't specified, the link is made to the Global Attributes
// page.

var text = $2 || $0;
var hash = "#attr-" + $0.toLowerCase();
var elementName = $1 || "";

if (!$3) {
  text = ['<code>', text, '</code>'].join('');
}

var slug = string.deserialize(template("L10n:Slug"));

var slugElement   = mdn.getLocalString(slug, 'docs/Web/HTML/Element');
var slugAttribute = mdn.getLocalString(slug, 'docs/Web/HTML/Global_attributes');


var url = "/" + [env.locale, slugAttribute].join("/");

if (elementName) {
    url = "/" + [env.locale, slugElement, elementName].join("/");
}

%>
<a href="<%- url + hash %>"><%- text %></a>
