<%
// Insert a link to the specified HTTP code status
//
// PARAMETERS
//  $0 - The code status to link
//  $1 - An optional alternative text to display
//  $2 - ?
//  $3 - If set, do not put the text in <code></code>

// Set up input values
var status = $0;
var str = $1 || $0;
var anch = "";

/* What is this made for? What is the use case? */
if ($2) {
  str = str + '.' + $2;
  anch = '#' + $2;
}

if (!$3) {
  str = ['<code>', str, '</code>'].join("");
}

// Get L10n strings
var localStrings = string.deserialize(template("L10n:Common"));
var slug         = string.deserialize(template("L10n:Slug"));

// Set up status URL
slug = mdn.getLocalString(slug, "docs/Web/HTTP/Status");
var URL = "/" + [env.locale, slug, status].join("/");

// Get target page summary
var page = wiki.getPage(URL);
var summary = "";

if (!$2) {
    if (page && page.summary) {
        summary = mdn.escapeQuotes(page.summary);
    } else {
        summary = mdn.getLocalString(localStrings, "summary");
    }
}

%><a href="<%- URL + anch %>" title="<%- summary %>"><%- str %></a>
