<ul>
<li><a href="/en-US/Mozilla_event_reference/success_indexedDB"><code>success</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/error_indexedDB"><code>error</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/abort_indexedDB"><code>abort</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/complete_indexedDB"><code>complete</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/upgradeneeded_indexedDB"><code>upgradeneeded</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/blocked_indexedDB"><code>blocked</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/versionchange_indexedDB"><code>versionchange</code></a></li>
</ul>
