<span lang='en' class='lang lang-en'><span class="comment">1 - Frozen Since?</span>
has been <a href="en/Interfaces/About_Frozen_Interfaces">frozen</a> since {{web.html($0)}}
</span><span lang='*' class='lang lang-*'><span class="comment">1 - Frozen Since?</span>
has been <a href="en/Interfaces/About_Frozen_Interfaces">frozen</a> since {{web.html($0)}}
</span><span lang='fr' class='lang lang-fr'><span class="comment">1 - Frozen Since?</span>
a été <a href="fr/Interfaces/%c3%80_propos_des_interfaces_gel%c3%a9es">gelée</a> depuis {{web.html($0)}}
</span><span lang='ja' class='lang lang-ja'><span class="comment">1 - Frozen Since?</span>
{{web.html($0)}} から<a href="ja/Interfaces/About_Frozen_Interfaces">凍結</a>されています。
</span><span lang='ru' class='lang lang-ru'><span class="comment">1 - Frozen Since?</span>
has been <a href="ru/Interfaces/About_Frozen_Interfaces">frozen</a> since {{web.html($0)}}
</span>
