<% if ('fr' == env.locale) { %>
<a href="/docs/fr/Interfaces/%c3%80_propos_des_interfaces_gel%c3%a9es">en développement</a>
<% } else if ('ja' == env.locale) { %>
<a href="/docs/ja/Interfaces/About_Frozen_Interfaces">非凍結</a>
<% } else if ('ko' == env.locale) { %>
<a href="/docs/ko/Interfaces/About_Frozen_Interfaces">unfrozen</a>
<% } else if ('pl' == env.locale) { %>
<a href="/docs/pl/Interfejsy/O_zamro%c5%bconych_interfejsach">odmrożony</a>
<% } else if ('ru' == env.locale) { %>
<a href="/docs/en-US/Interfaces/About_Frozen_Interfaces">unfrozen</a>
<% } else { %>
<a href="/docs/en-US/Interfaces/About_Frozen_Interfaces">unfrozen</a>
<% } %>
