<span lang='en' class='lang lang-en'><a href="en/Interfaces/About_Scriptable_Interfaces">scriptable</a>
</span><span lang='*' class='lang lang-*'><a href="en/Interfaces/About_Scriptable_Interfaces">scriptable</a>
</span><span lang='fr' class='lang lang-fr'><a href="fr/Interfaces/%c3%80_propos_des_interfaces_scriptables">scriptable</a>
</span><span lang='ja' class='lang lang-ja'><a href="ja/Interfaces/About_Scriptable_Interfaces">scriptable</a>
</span><span lang='ko' class='lang lang-ko'><a href="ko/Interfaces/About_Scriptable_Interfaces">스크립트에서 사용 가능</a>
</span><span lang='pl' class='lang lang-pl'><a href="pl/Interfejsy/O_interfejsach_skryptowalnych">skryptowalny</a>
</span><span lang='ru' class='lang lang-ru'>{{mediawiki.interwiki('en', 'Interfaces:About_Scriptable_Interfaces', 'scriptable')}}
</span>
