<p><span lang="en" class="lang lang-en"><span class="comment">1 - Last changed in</span>
hasn't changed since <span class="script">web.html($0)</span></span>
<span lang="*" class="lang lang-*"><span class="comment">1 - Last changed in</span>
hasn't changed since <span class="script">web.html($0)</span></span>
<span lang="fr" class="lang lang-fr"><span class="comment">1 - Last changed in</span>
n'a pas été modifiée depuis <span class="script">web.html($0)</span></span>
<span lang="ja" class="lang lang-ja"><span class="comment">1 - Last changed in</span>
です。 <span class="script">web.html($0)</span>から更新されていません</span>
<span lang="ko" class="lang lang-ko"><span class="comment">1 - 최종 변경</span>
<span class="script">web.html($0)</span> 이후로 변경되지 않음</span>
<span lang="pl" class="lang lang-pl"><span class="comment">1 - Last changed in</span>
nie zmienił się od <span class="script">web.html($0)</span></span>
<span lang="ru" class="lang lang-ru"><span class="comment">1 - Last changed in</span>
hasn't changed since <span class="script">web.html($0)</span></span>
</p>
