<h2 id="Join_the_Mozilla_Accessibility_Community"><a name="community">Join the Mozilla Accessibility Community</a></h2>
<h3 id="Live_Chat">Live Chat</h3>
<p>Both end users and developers are invited for discussion on the live IRC channel at <a href="irc://moznet/%23accessibility">irc.mozilla.org/#accessibility</a>. Since this is a worldwide effort, there is always a good chance to find someone to chat with there, day or night.</p>
<h3 id="Newsgroup_and_Mailing_List">Newsgroup and Mailing List</h3>
<p>We have two discussion lists, which can be read via a newsgroup reader, as a mailing list or via Google groups.</p>
<table class="standard-table">
  <thead>
    <tr>
      <th scope="col">Purpose</th>
      <th scope="col">Newsgroup</th>
      <th scope="col">Mailing list</th>
      <th scope="col">Google group</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Developer discussion</td>
      <td><a href="news://news.mozilla.org/mozilla.dev.accessibility">mozilla.dev.accessibility</a></td>
      <td><a href="https://lists.mozilla.org/listinfo/dev-accessibility">subscribe/unsubscribe</a></td>
      <td><a href="http://groups.google.com/group/mozilla.dev.accessibility">Google group</a></td>
    </tr>
    <tr>
      <td>End user support</td>
      <td><a href="news://news.mozilla.org/mozilla.support.accessibility">mozilla.support.accessibility</a></td>
      <td><a href="https://lists.mozilla.org/listinfo/support-accessibility">subscribe/unsubscribe</a></td>
      <td><a href="http://groups.google.com/group/mozilla.support.accessibility">Google group</a></td>
    </tr>
  </tbody>
</table>
