<%
/* one parameter: Gecko version */

var str = mdn.localString({
    "en-US": "JSAPI " + $0 + " and earlier",
    "ja": "JSAPI " + $0 + " まで",
    "ru": "JSAPI " + $0 + " и старее",
    "zh-CN": "JSAPI " + $0 + " 及更早"
});

%><span class="standardNoteInline"><%=str%></span>
