<%
/*
  Inserts a link to the documentation for a JavaScript code module.

  Parameters:
  $0 - JSM name (including ".jsm")
  $1 - Text to display (optional)
  $2 - Anchor within the page (optional)
*/
var jsmName = $0;
var linkText = ($1 || jsmName);

var commonLocalStrings = string.deserialize(template("L10n:Common"));
var sectionName = mdn.localString({
    "en-US": "JavaScript_code_modules"
});

var url = "/" + env.locale + "/docs/Mozilla/" + sectionName + "/" + jsmName;
var page = wiki.getPage(url);
var summary = (page && page.summary) ? mdn.escapeQuotes(page.summary) :
    mdn.getLocalString(commonLocalStrings, "summary");

// Add anchor after fetching the page contents
url += $2;

// If we want to wrap the JSM name in <code>...
//if (linkText === jsmName && jsmName.indexOf(" ") === -1) {
//    linkText = "<code>&lt;" + linkText + "&gt;</code>";
//}

var link = "<a href=\"" + url + "\" title=\"" + summary + "\">" + linkText +
    "</a>";
%><%- link %>
