<%
// Inserts a link to a JS API's documentation in the JS Reference.
// Appropriate styling is applied.
//
// Parameters:
//
//  $0 - API name
//  $1 - name to display (optional)
//  $2 - anchor (#xyz) (optional)
//  $3 - If set, do not put the text in <code></code>
//
//  {{jsxref("Date")}}
//  {{jsxref("Date.prototype.getNumber()")}}
//  {{jsxref("Global_Objects/Date/getNumber", "Date.prototype.getNumber()")}}
//


// Set up input parameters
var str = $1 || $0;
var api = $0.replace('()', '').replace('.prototype.', '.');
var anchor = $2 || '';

if (api.indexOf("..") === -1) { // Handle try...catch, for...in, etc.
  api = api.replace('.', '/');
}

if (anchor && anchor[0] !== '#') {
    anchor = "#" + anchor;
}

if (!$3) {
  str = ['<code>', str, '</code>'].join('');
}

// Get L10n strings
var commonl10n = string.deserialize(template('L10n:Common'));
var slug = string.deserialize(template('L10n:Slug'));

var l10n = {
    refslug: mdn.getLocalString(slug, 'docs/Web/JavaScript/Reference'),
    objslug: mdn.getLocalString(slug, 'docs/Web/JavaScript/Reference/Global_Objects'),
    summary: mdn.getLocalString(commonl10n, 'summary'),
};

// Set up document URL
var URL_REF = "/" + [env.locale, l10n.refslug, api].join('/');
var URL_OBJ = "/" + [env.locale, l10n.objslug, api].join('/');
var URL = URL_OBJ; // By default we expect a global object url

// Get target page summary
var page       = wiki.getPage(URL_REF);
var objectPage = wiki.getPage(URL_OBJ);

var summary = l10n.summary;

// If we get a global object page we're good
if (objectPage && objectPage.summary) {
    summary = mdn.escapeQuotes(objectPage.summary);

// Otherwise we look if we have another reference page
} else if (page && page.summary) {
    summary = mdn.escapeQuotes(page.summary);
    URL = URL_REF;
}

%><a href="<%- URL + anchor %>" title="<%-summary%>"><%- str %></a>
