<%
var path = mdn.localString({
    "en-US" : "Mozilla_event_reference/",
    "ja"    : "Web/Reference/Events/"
});

path = "/" + env.locale + "/docs/" + path;

%><ul>
<li><a href="<%- path %>keydown"><code>keydown</code></a></li>
<li><a href="<%- path %>keyup"><code>keyup</code></a></li>
<li><a href="<%- path %>keypress"><code>keypress</code></a></li>
<li><a href="<%- path %>input"><code>input</code></a> (event)</li>
</ul>
