<%
var searchfor = mdn.localString({
    'en-US': ' Search for <code>' + $2 + '</code>',
    'de':  ' Suche nach <code>' + $2 + '</code>',
    'ja':  ' で <code>' + $2 + '</code> を',
    'ru':  ' Искать <code>' + $2 + '</code>',
    'zh-CN': ' 搜索 <code>' + $2 + '</code>'
});
%>
<a href="http://mxr.mozilla.org/mozilla-central/<%= $0 + '?' + $1 + '=' + $2 %>"><%-
  string.trim($3) ? $3 : ('MXR ' + ($0 == 'ident' ? 'ID' : '') + searchfor) %></a>
