<%

var title = mdn.localString({
  'en-US': 'Marketplace feature removal',
  'uk'   : 'Видалення функціональності Крамниці застосунків'
});

var desc = mdn.localString({
  'en-US': 'The functionality described on this page no longer works — Firefox Marketplace has discontinued support for Android, Desktop, Tablets, and payments (and other related functionality). For more information, read the <a href="https://wiki.mozilla.org/Marketplace/FutureofMarketplaceFAQ">Future of Marketplace FAQ</a>.',
  'uk'   : 'Функціональність, описана в цій статті, більше не працює — Крамниця застосунків Firefox скасувала підтримку Android, настільних комп\'ютерів, гортачиків (планшетів) та платежів (а також деяких пов\'язаних функцій). Більш детальну інформацію шукайте на сторінці <a href="https://wiki.mozilla.org/Marketplace/FutureofMarketplaceFAQ">Майбутнє Крамниці застосунків (FAQ)</a>.'
});

var output = '<div class="overheadIndicator deprecated deprecatedHeader"><p><strong>' + title + '</strong><br/>' + desc + '</p></div>';

%>
<%-output%>
