<%

var title = mdn.localString({
  'en-US': 'Marketplace feature removal'
});

var desc = mdn.localString({
  'en-US': 'The functionality described on this page no longer works — Firefox Marketplace has discontinued support for Android, Desktop, Tablets, and payments (and other related functionality). For more information, read the <a href="https://wiki.mozilla.org/Marketplace/FutureofMarketplaceFAQ">Future of Marketplace FAQ</a>.'
});

var output = '<div class="overheadIndicator deprecated deprecatedHeader"><p><strong>' + title + '</strong><br/>' + desc + '</p></div>';

%>
<%-output%>
