<%/*
    Parameter : none
*/

var str = mdn.localString({
    "ja": "<strong>注:</strong> Firefox OS Marketplace は今のところ有料アプリとアプリ内課金に対応していません。2013 年の中頃にはこの機能が試験的に有効化される見込みです。",
    "en-US": "<strong>Note:</strong> The Firefox Marketplace does not currently support paid apps or in-app payments. We hope to enable this feature for testing in May 2013."
});


%><div class="note">
  <%- str %>
</div>
