<%

/* "en-US" is default */
var s = mdn.localString({
    "en-US": ["<i>varies</i>", "The data associated with the message."],
    "ca"   : ["<i>varies</i>", "The data associated with the message."],
    "cs"   : ["<i>varies</i>", "The data associated with the message."],
    "de"   : ["<i>varies</i>", "The data associated with the message."],
    "el"   : ["<i>varies</i>", "The data associated with the message."],
    "es"   : ["<i>varies</i>", "The data associated with the message."],
    "fa"   : ["<i>varies</i>", "The data associated with the message."],
    "fi"   : ["<i>varies</i>", "The data associated with the message."],
    "fr"   : ["<i>varies</i>", "The data associated with the message."],
    "he"   : ["<i>varies</i>", "The data associated with the message."],
    "hr"   : ["<i>varies</i>", "The data associated with the message."],
    "hu"   : ["<i>varies</i>", "The data associated with the message."],
    "id"   : ["<i>varies</i>", "The data associated with the message."],
    "it"   : ["<i>varies</i>", "The data associated with the message."],
    "ja"   : ["<i>varies</i>", "メッセージに関連付けられたデータ"     ],
    "ka"   : ["<i>varies</i>", "The data associated with the message."],
    "ko"   : ["<i>varies</i>", "The data associated with the message."],
    "ms"   : ["<i>varies</i>", "The data associated with the message."],
    "nl"   : ["<i>varies</i>", "The data associated with the message."],
    "pl"   : ["<i>varies</i>", "The data associated with the message."],
    "ro"   : ["<i>varies</i>", "The data associated with the message."],
    "ru"   : ["<i>varies</i>", "Данные ассоциированы с сообщением."],
    "sq"   : ["<i>varies</i>", "The data associated with the message."],
    "th"   : ["<i>varies</i>", "The data associated with the message."],
    "tr"   : ["<i>varies</i>", "The data associated with the message."],
    "vi"   : ["<i>varies</i>", "The data associated with the message."],
    "bn-BD": ["<i>varies</i>", "The data associated with the message."],
    "fy-NL": ["<i>varies</i>", "The data associated with the message."],
    "ga-IE": ["<i>varies</i>", "The data associated with the message."],
    "pt-BR": ["<i>varies</i>", "The data associated with the message."],
    "pt-PT": ["<i>varies</i>", "The data associated with the message."],
    "zh-CN": ["<i>varies</i>", "与该消息关联的数据。"],
    "zh-TW": ["<i>varies</i>", "The data associated with the message."]
});


%><tr>
  <td><code>data</code> <%- template("readOnlyInline") %></td>
  <td><%- s[0] %></td>
  <td><%- s[1] %></td>
</tr>
