<%
// Use this as to note in a method heading that it's been renamed as of a given gecko release
//
// Parameters:
//  $0 - new API name
//  $1 - old API name
//  $2 - Gecko release it was renamed in
%><div>
<span class="indicatorInHeadline renamed renamedMethod">Renamed from <%=$1%> in Gecko <%=$2%></span>
<h3><%=$0%>()</h3>
</div>
