<%

/* one parameter: Gecko version as of which should only be used in mobile */

var str = "";
var title = "";

switch(env.locale) {
  case 'zh-cn':
    str = "只支持Gecko移动设备" + ($0?("(Gecko" + $0 +"以上)"):"");
    title = "只在内核为Gecko " + ($0?($0 + " " + template("geckoRelease", [$0]) + "以上版本"):"") + "的Firefox Mobile中可用";
    break;
  default:
    str = "Mobile Only in Gecko " + $0;
    title = "Available only in Firefox Mobile as of Gecko " + $0 + " " + template("geckoRelease", [$0]);
    break;
}

%><span title=<%= title %> class="inlineIndicator mobileOnly"><%= str %></span>
