<tr>
  <td><code>ctrlKey</code> <%- template("readonlyInline") %></td>
  <td>boolean</td>
  <td><code>true</code> if the control key was down when the event was fired. <code>false</code> otherwise.</td>
</tr>
<tr>
  <td><code>shiftKey</code> <%- template("readonlyInline") %></td>
  <td>boolean</td>
  <td><code>true</code> if the shift key was down when the event was fired. <code>false</code> otherwise.</td>
</tr>
<tr>
  <td><code>altKey</code> <%- template("readonlyInline") %></td>
  <td>boolean</td>
  <td><code>true</code> if the alt key was down when the event was fired. <code>false</code> otherwise.</td>
</tr>
<tr>
  <td><code>metaKey</code> <%- template("readonlyInline") %></td>
  <td>boolean</td>
  <td><code>true</code> if the meta key was down when the event was fired. <code>false</code> otherwise.</td>
</tr>
