<%
/* Inserts a badge indicating a term or API is non-standard.
 *
 *  Parameters:
 *      $0  If specified and non-zero, a small badge is displayed.
 *
 */

var titleAttrValue = mdn.localString({
    "en-US": "This API has not been standardized.",
    "fr":    "Cette API n'a pas été standardisée.",
    "ja":    "この API は標準化されていません。",
    "ru":    "Это API не было стандартизировано.",
});

var str = "";

if ($0) {
    %><span title="<%=titleAttrValue%>" class="icon-only-inline"><i class="icon-warning-sign"> </i></span><%
} else {
    str = mdn.localString({
        "en-US": "Non-standard",
        "de":    "Kein Standard",
        "es":    "No estándar",
        "fr":    "Non standard",
        "he":    "לא סטנדרטי",
        "ja":    "非標準",
        "pl":    "Niestandardowy",
        "ru":    "Не стандартно",
        "zh-CN": "非标准",
        "zh-TW": "非標準",
    });
    %><%-await template("SimpleBadge", [str, "nonStandard", titleAttrValue])%><%
}%>
