<%
var locale = env.locale;

var text = mdn.localString({
  "de": "Dieses Feature ist nicht in <a href=\"/" + locale + "/docs/Web/API/Web_Workers_API\">Web Workers</a> verfügbar.",
  "en-US": "This feature is not available in <a href=\"/" + locale + "/docs/Web/API/Web_Workers_API\">Web Workers</a>.",
  "zh-CN": "此功能在 <a href=\"/" + locale + "/docs/Web/API/Web_Workers_API\">Web Worker</a> 中不可用。",
  "ru": "Эта возможность недоступна в <a href=\"/" + locale + "/docs/Web/API/Web_Workers_API\">Web Workers</a>."
});

%>
<%- template("Note", [text]) %>
