<%/*
No parameter
*/

var str = mdn.localString({
   "en-US": "Not available to workers.",
   "zh-CN": "Worker 不可用。",
   "fr":    "Pas disponible dans les workers.",
   "ru":    "Не доступно в workers."
});

var str_desc = mdn.localString({
  "en-US": "Although the interface of this feature is available to workers, this feature isn't.",
  "zh-CN": "尽管此功能的接口对 Worker 可用，但此功能不是。",
  "fr":    "Bien que l'interface à laquelle appartient cette fonctionnalité est disponible dans le contexte d'un Worker, celle-ci ne l'est pas.",
  "ru":    "Хотя интерфейс этой возможности доступен в workers, этой возможности нет."
});

%><div class="overheadIndicator unimplemented unimplementedHeader"><p><strong><%-str%></strong><br/><%-str_desc%></p></div>
