<%

var Path = env.locale + "/docs";


%><span class="breadcrumbs np-plugin-scripting_breadcrumbs">
&laquo; <a href="/<%-Path%>/Gecko_Plugin_API_Reference">Gecko Plugin API Reference</a>
&laquo; <a href="/<%-Path%>/Gecko_Plugin_API_Reference/Scripting_plugins">Scripting plugins</a>
</span>
