<%
// Creates a link to the NPAPI page with the given name
//
//  $0 - page name

    var lang = env.locale;

    var langName = mdn.localString({
        "en-US": "Gecko Plugin API Reference",
        'de': "Gecko Plugin API Referenz",
        'fr': "Documentation API Greffons Gecko",
        'pl': "Dokumentacja wtyczek Gecko",
        'ru': "Документация по API для плагинов Gecko",
        "zh-CN": "Gecko 插件 API 参考资料"
    });

    var destOldType = "/" + lang + '/docs/' + langName + ':' + $0;
    var destNewType = "/" + lang + '/docs/' + langName + '/' + $0;
    var url = "";

    if (wiki.pageExists(destNewType)) {
        url = destNewType;
    } else if (wiki.pageExists(destOldType)) {
        url = destOldType;
    } else {
        url = destNewType;
    }
    url = web.spacesToUnderscores(url);
%>
<a href="<%=url%>"><%=$0%></a>
