<%
// Inserts a link to a section of a given NPAPI reference page
//
//  $0 - page name
//  $1 - section name

var el = env.locale;
var slug = mdn.localString({
    "en-US": "Gecko Plugin API Reference",
    'de': "Gecko Plugin API Referenz",
    'fr': "Documentation API Greffons Gecko",
    'pl': "Dokumentacja wtyczek Gecko",
    'ru': "Документация по API для плагинов Gecko",
    "zh-CN": "Gecko 插件 API 参考资料"
});

var destOldType = "/" + el + '/docs/' + slug + ':' + $0;
var destNewType = "/" + el + '/docs/' + slug + '/' + $0;
var url = "";

if (wiki.pageExists(destNewType)) {
    url = destNewType;
} else if (wiki.pageExists(destOldType)) {
    url = destOldType;
} else {
    url = destNewType;
}

url = web.spacesToUnderscores(url + '#' + $1);


%><a href="<%=url%>"><%=$1%></a>
