<% if ("en-US" == env.locale) { %>
      <div class="includeonly"> </div>
<% } else if ("ja" == env.locale) { %>
      <div class="includeonly"> </div>
<% } else if ("pl" == env.locale) { %>
      <div class="includeonly"> </div>
<% } else { %>
      <div class="includeonly"> </div>
<% } %>
