<div style="float:right;border:solid #777 1px;padding:0 15px 5px 15px;margin: 0 0 15px 15px;background:#EEE;font-size:.85em;">
    <dl>
		<dt><a href="/cs/docs/Project:Obsah">Obsah</a></dt>
		<dd><a href="/cs/docs/Project:Jak_pomoci">Jak pomoci</a></dd>

		<dt>Návody</dt>
		<dd><a href="/cs/docs/Project:Jak_za%c4%8d%c3%adt">Jak začít</a></dd>
		<dd><a href="/cs/docs/Project:Pr%c5%afvodce_p%c5%99ekladatele">Průvodce překladatele</a></dd>
		<dd><a href="/cs/docs/Project:N%c3%a1zvy_str%c3%a1nek">Názvy stránek</a></dd>
		<dd><a href="/cs/docs/Project:Autorsk%c3%a1_pr%c3%a1va">Autorská práva</a></dd>

		<dt>Příručky</dt>
		<dd><a href="/cs/docs/Project:P%c5%99%c3%adru%c4%8dka_Wiki">Příručka Wiki</a></dd>
		<dd><a href="/cs/docs/Project:Vlastn%c3%ad_CSS_t%c5%99%c3%addy">Vlastní CSS třídy</a></dd>
		<dd><a href="/cs/docs/Project:Vlastn%c3%ad_%c5%a1ablony">Vlastní šablony</a></dd>
		<dd><a href="/cs/docs/Project:Roz%c5%a1%c3%ad%c5%99en%c3%ad_MediaWiki">Rozšíření MediaWiki</a></dd>
		<dd><a href="/cs/docs/Project:Extern%c3%ad_p%c5%99esm%c4%9brov%c3%a1n%c3%ad">Externí přesměrování</a></dd>
	</dl>
</div>
