<%
// Inserts a badge marking an API or term as being obsolete.
//
// Parameters:
//  $0  If specified, the badge is "small"

var str_title = mdn.localString({
    "de":    "Dies ist eine veraltete API und es wird nicht mehr garantiert, dass sie funktioniert.",
    "en-US": "This is an obsolete API and is no longer guaranteed to work.",
    "ja":    "これは廃止されたAPIであり、今後の動作は保障されていません。ご注意下さい。",
    "ru":    "Этот API вышел из употребления и его работа больше не гарантируется.",
});

var str = "";

if ($0) {
    %><span title="<%=str_title%>" class="icon-only-inline"><i class="icon-trash"> </i></span><%
} else {
str = mdn.localString({
    "de":    "Veraltet",
    "en-US": "Obsolete",
    "es":    "Obsoleto",
    "fr":    "Obsolète",
    "ko":    "안씀",
    "pl":    "Przestarzały",
    "ja":    "廃止",
    "ru":    "Вышел из употребления",
    "zh-TW": "已過時",
    "zh-CN": "已废弃",
});

%><%-await template("SimpleBadge", [str, "obsolete", str_title])%><%
}
%>
