<tr>
      <td><code>renderedBuffer</code>&nbsp;<%- template("readonlyInline", [])%></td>
      <td><code><%- template("domxref", ["AudioBuffer"])%></code></td>
      <td>The buffer containing the result of the processing of an <%- template("domxref", ["OfflineAudioContext"])%></td>
</tr>
