<%
// Inserts a note reminding contributors to use an image optimization tool
// before uploading images to MDN. Includes suggested tools that may be
// helpful.
//
// Parameters:
//  $0  If zero or not specified, the text is placed in a note styled box.
//      Otherwise, the text is returned without any surrounding block, for
//      use inline with other content.

var doInline = $0 || 0;

var noteBoxText = mdn.localString({
    "en-US":    "Note: ",
    "zh-CN":    "注：",
    "ru"   :    "Замечание: "
});

var html = mdn.localString({
    "en-US":    "When uploading an image, please be sure to use an image optimization tool " +
                "to make the file as small to download as possible. This improves page " +
                "load time and helps MDN's performance overall. You may use your " +
                "preferred tool, if you have one. Otherwise, we suggest " +
                "<a href='https://tinypng.com/'>TinyPNG</a>, a handy Web tool.",
    "zh-CN":    "在上传图像时，请确保使用图像优化工具" +
                "使文件大小利于下载。这有助改善" +
                "加载时间，并帮助 MDN 的整体性能。您可以自选" +
                "优化工具，或者使用我们推荐的 " +
                "<a href='https://tinypng.com/'>TinyPNG</a> 在线工具。",
    "ru"   :    "При загрузке изображения, пожалуйста, убедитесь, что используете инструменты "+
                "оптимизации, чтобы сделать файл маленьким, а загрузку возможной. Это улучшает "+
                "время загрузки страницы и помогает производительности MDN в целом. Вы можете "+
                "использовать свой любимый инструмент, если он у вас есть. Иначе, мы предлагаем "+
                "<a href='https://tinypng.com/'>TinyPNG</a> - удобный Веб инструмент."
});

// Wrap in a note box if requested

if (doInline == 0) {
    html = "<div class='note'><strong>" + noteBoxText + "</strong>" + html + "</div>";
}

%>
<%-html%>
