<%
/*
    Parameter : none
    Example : https://developer.mozilla.org/en-US/docs/Web/Reference/Events/pageshow
*/

var s = mdn.localString({
    "ca": "Persisted user state.",
    "cs": "Persisted user state.",
    "de": "Persisted user state.",
    "el": "Persisted user state.",
    "es": "Persisted user state.",
    "fa": "Persisted user state.",
    "fi": "Persisted user state.",
    "fr": "Persisted user state.",
    "he": "Persisted user state.",
    "hr": "Persisted user state.",
    "hu": "Persisted user state.",
    "id": "Persisted user state.",
    "it": "Persisted user state.",
    "ja": "Persisted user state.",
    "ka": "Persisted user state.",
    "ko": "Persisted user state.",
    "ms": "Persisted user state.",
    "nl": "Persisted user state.",
    "pl": "Persisted user state.",
    "ro": "Persisted user state.",
    "ru": "Persisted user state.",
    "sq": "Persisted user state.",
    "th": "Persisted user state.",
    "tr": "Persisted user state.",
    "vi": "Persisted user state.",
    "bn-BD": "Persisted user state.",
    "fy-NL": "Persisted user state.",
    "ga-IE": "Persisted user state.",
    "pt-BR": "Persisted user state.",
    "pt-PT": "Persisted user state.",
    "zh-CN": "Persisted user state.",
    "zh-TW": "Persisted user state.",
    "en-US": "Persisted user state."
});


%><tr>
  <td><code>persisted</code> <%- template("readonlyInline") %></td>
  <td><code>boolean</code></td>
  <td><%- s %></td>
</tr>
