<tr>
  <td><code>lengthComputable</code></td>
  <td>boolean</td>
  <td>Specifies whether or not the total size of the transfer is known. Read only.</td>
</tr>
<tr>
  <td><code>loaded</code></td>
  <td>unsigned long (long)</td>
  <td>The number of bytes transferred since the beginning of the operation. This doesn't include headers and other overhead, but only the content itself. Read only.</td>
</tr>
<tr>
  <td><code>total</code></td>
  <td>unsigned long (long)</td>
  <td>The total number of bytes of content that will be transferred during the operation. If the total size is unknown, this value is zero. Read only.</td>
</tr>
