<%
// Generates text describing the current position of the specified Firefox release
// on the release train, as well as its expected release date and other
// helpful information.
//
// Parameters:
//  $0  Firefox version number
//  $1  Gecko version number
//  $2  Expected release date as a string (exact or approximate)
//  $3  The name of the channel the release is currently on (nightly, aurora, beta,
//      or release).

var url = "";
switch(string.tolower($3)) {
  case "nightly":
  default:
    url = "ftp://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-mozilla-central/";
    break;
  case "aurora":
    if ($0 < 35) {
        url = "https://www.mozilla.org/en-US/firefox/channel/#aurora";
    } else {
        url = "https://www.mozilla.org/en-US/firefox/developer/";
        switch(env.locale) {
            default:
                $3 = "Developer Edition";
                break;
        }
    }
    break;
  case "beta":
    url = "http://www.mozilla.com/en-US/firefox/channel/#beta";
    break;
  case "release":
    url = "https://www.mozilla.org/en-US/firefox/channel/#firefox";
    break;
};
var str = "<p>Firefox " + $0 + ", based on Gecko " + $1 + ", will ship in " + 
           $2 + ". This article provides information about the changes in " +
           "this release that will affect developers. Nightly builds of what " +
           "will become Firefox " + $0 + " are " + 
           web.link(url, 'currently available') + " on the " +
           string.ToUpperFirst($3) + " channel. Some experimental features " +
           "whose release dates are uncertain or undecided are discussed on the " +
           "page <a href='/en-US/Firefox/Experimental_features'>Experimental " +
           "features in Firefox</a>. Some features described there may be " +
           "available in Firefox " + $0 + ".</p>" +
           "<div class='note'>Items listed here are tentatively slated for " +
           "Firefox " + $0 + "; however, they may be held for a future " +
           "release if testing shows they're not ready by the time Firefox " +
           $0 + " is due to ship. Please keep an eye on this page to stay up " +
           "to date on the plans for Firefox " + $0 + ".</div>";
switch (env.locale) {
  case "ja":
    str = "<p>Gecko " + $1 + " を搭載した Firefox " + $0 + " は米国時間 " + $2 + " にリリースされます。このページでは、開発者に影響する  Firefox " + $0 + " の変更点をまとめています。 Firefox " + $0 + " は現在 " + string.ToUpperFirst($3) + " として提供されています。</p><div class='note'><strong>注:</strong> ここに載っている変更点は今のところ Firefox " + $0 + " に含まれる予定ですが、テストの結果 Firefox " + $0 + " へ投入するには時期尚早と判断されたものは、以後のバージョンへ先送りされる可能性もあります。このページおよびその英語版ページを定期的にチェックして最新の情報を確認してください。</div>";
    break;
  case "zh-CN":
    str = "<p>Firefox " + $0 + "，基于 Gecko " + $1 + ", 将会在 " + $2 + " 正式发布。本文记录了开发者们应该注意的,该版本的 Firefox 的各种变化。";
    break;
};
%>
<%- str %>
