<table id="toc" style="margin: 0 auto; clear:both;">
<thead><%

var el = env.locale;

switch (el) {

    case "ja":

%><tr>
    <th style="text-align:center"><a href="/ja/docs/RSS/Element">RSS 要素</a></th>
</tr>
</thead>
<tbody>
<tr>
	<td style="text-align:center"><a href="/ja/docs/RSS/Element#A">A</a> <a href="/ja/docs/RSS/Element#B">B</a> <a href="/ja/docs/RSS/Element#C">C</a> <a href="/ja/docs/RSS/Element#D">D</a> <a href="/ja/docs/RSS/Element#E">E</a> <a href="/ja/docs/RSS/Element#F">F</a> <a href="/ja/docs/RSS/Element#G">G</a> <a href="/ja/docs/RSS/Element#H">H</a> <a href="/ja/docs/RSS/Element#I">I</a> <a href="/ja/docs/RSS/Element#J">J</a> <a href="/ja/docs/RSS/Element#K">K</a> <a href="/ja/docs/RSS/Element#L">L</a> <a href="/ja/docs/RSS/Element#M">M</a> <a href="/ja/docs/RSS/Element#N">N</a> <a href="/ja/docs/RSS/Element#O">O</a> <a href="/ja/docs/RSS/Element#P">P</a> <a href="/ja/docs/RSS/Element#Q">Q</a> <a href="/ja/docs/RSS/Element#R">R</a> <a href="/ja/docs/RSS/Element#S">S</a> <a href="/ja/docs/RSS/Element#T">T</a> <a href="/ja/docs/RSS/Element#U">U</a> <a href="/ja/docs/RSS/Element#V">V</a> <a href="/ja/docs/RSS/Element#W">W</a> <a href="/ja/docs/RSS/Element#X">X</a> <a href="/ja/docs/RSS/Element#Y">Y</a> <a href="/ja/docs/RSS/Element#Z">Z</a></td>
</tr>

<tr>
<td style="text-align:center"><small>(簡易リンク: <a href="/ja/docs/tag/RSS">RSS タグの付いた記事</a>)</small></td>
</tr><%

		break;
    case "pl" :

%><tr>
	<th style="text-align:center"><a href="/pl/docs/RSS/Elementy">Elementy RSS</a></th>
</tr>
</thead>
<tbody>
<tr>
	<td style="text-align:center"><a href="/pl/docs/RSS/Elementy#A">A</a> <a href="/pl/docs/RSS/Elementy#B">B</a> <a href="/pl/docs/RSS/Elementy#C">C</a> <a href="/pl/docs/RSS/Elementy#D">D</a> <a href="/pl/docs/RSS/Elementy#E">E</a> <a href="/pl/docs/RSS/Elementy#F">F</a> <a href="/pl/docs/RSS/Elementy#G">G</a> <a href="/pl/docs/RSS/Elementy#H">H</a> <a href="/pl/docs/RSS/Elementy#I">I</a> <a href="/pl/docs/RSS/Elementy#J">J</a> <a href="/pl/docs/RSS/Elementy#K">K</a> <a href="/pl/docs/RSS/Elementy#L">L</a> <a href="/pl/docs/RSS/Elementy#M">M</a> <a href="/pl/docs/RSS/Elementy#N">N</a> <a href="/pl/docs/RSS/Elementy#O">O</a> <a href="/pl/docs/RSS/Elementy#P">P</a> <a href="/pl/docs/RSS/Elementy#Q">Q</a> <a href="/pl/docs/RSS/Elementy#R">R</a> <a href="/pl/docs/RSS/Elementy#S">S</a> <a href="/pl/docs/RSS/Elementy#T">T</a> <a href="/pl/docs/RSS/Elementy#U">U</a> <a href="/pl/docs/RSS/Elementy#V">V</a> <a href="/pl/docs/RSS/Elementy#W">W</a> <a href="/pl/docs/RSS/Elementy#X">X</a> <a href="/pl/docs/RSS/Elementy#Y">Y</a> <a href="/pl/docs/RSS/Elementy#Z">Z</a></td>
</tr>

<tr>
<td style="text-align:center"><small>(Skocz do: <a href="/pl/docs/tag/RSS">Kategoria RSS</a>)</small></td>
</tr><%

		break;
    default:

%><tr>
	<th style="text-align:center"><a href="/en-US/docs/RSS/Element">RSS Elements</a></th>
</tr>
</thead>
<tbody>
<tr>
	<td style="text-align:center"><a href="/en-US/docs/RSS/Element#A">A</a> <a href="/en-US/docs/RSS/Element#B">B</a> <a href="/en-US/docs/RSS/Element#C">C</a> <a href="/en-US/docs/RSS/Element#D">D</a> <a href="/en-US/docs/RSS/Element#E">E</a> <a href="/en-US/docs/RSS/Element#F">F</a> <a href="/en-US/docs/RSS/Element#G">G</a> <a href="/en-US/docs/RSS/Element#H">H</a> <a href="/en-US/docs/RSS/Element#I">I</a> <a href="/en-US/docs/RSS/Element#J">J</a> <a href="/en-US/docs/RSS/Element#K">K</a> <a href="/en-US/docs/RSS/Element#L">L</a> <a href="/en-US/docs/RSS/Element#M">M</a> <a href="/en-US/docs/RSS/Element#N">N</a> <a href="/en-US/docs/RSS/Element#O">O</a> <a href="/en-US/docs/RSS/Element#P">P</a> <a href="/en-US/docs/RSS/Element#Q">Q</a> <a href="/en-US/docs/RSS/Element#R">R</a> <a href="/en-US/docs/RSS/Element#S">S</a> <a href="/en-US/docs/RSS/Element#T">T</a> <a href="/en-US/docs/RSS/Element#U">U</a> <a href="/en-US/docs/RSS/Element#V">V</a> <a href="/en-US/docs/RSS/Element#W">W</a> <a href="/en-US/docs/RSS/Element#X">X</a> <a href="/en-US/docs/RSS/Element#Y">Y</a> <a href="/en-US/docs/RSS/Element#Z">Z</a></td>
</tr>

<tr>
<td style="text-align:center"><small>(Quick Link: <a href="/en-US/docs/tag/RSS">RSS Category</a>)</small></td>
</tr>

<% }
%></tbody>
</table>
