<%
var p1 = "/en-US/docs/";
var p2 = "Web/Events/";

var locale = env.locale;

switch (locale) {
    case "ja":
    case "uk":
      p1 = "/" + locale + "/docs/";
      break;
}

var path = p1 + p2;

%><ul>
    <li><a href="<%- path %>beginEvent"><code>beginEvent</code></a></li>
    <li><a href="<%- path %>endEvent"><code>endEvent</code></a></li>
    <li><a href="<%- path %>repeatEvent"><code>repeatEvent</code></a></li>
</ul>
