<%
var locale = env.locale;
var path = "/" + locale + "/docs/Web/Events/";
%>

<ul>
  <li><a href="<%- path %>>open_serversentevents"><code>open</code></a></li>
  <li><a href="<%- path %>>error_serversentevents"><code>error</code></a></li>
  <li><a href="<%- path %>>message_serversentevents"><code>message</code></a></li>
</ul>
