<ul>
<li><a href="/en-US/Mozilla_event_reference/open_serversentevents"><code>open</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/error_serversentevents"><code>error</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/message_serversentevents"><code>message</code></a></li>
</ul>
