<%
switch(env.locale) {
    case "ja":
        str = "この記事は一部分のみ作成されている書きかけの記事です。作成にご協力ください。<br />（新たな内容を書き加える場合、できれば英語版の記事の方にも反映してくださるようお願いします）";
        break;
    default:
        str = "This article is a stub--an article which is only partly developed. Please help to develop it.";
        break;
}


%><div class="overheadIndicator"><%-str%></div>
