<%
// Creates a list of the subpages of the current page, with their summaries,
// as a definition list. Doesn't do any additional formatting.
//
// Parameters:
//
//  $0  A list of pages to output instead of the subpages of the current page;
//      OPTIONAL.

function pageSorter(a, b) {
    return a.title.localeCompare(b.title);
}

var termList;
var html = "";

if ($0 && ($0 != undefined)) {
    termList = JSON.parse($0);
} else {
    termList = page.subpagesExpand();
}

var numTerms = termList.length;

if (numTerms) {
    var importantList = [];
    var regularList = [];

    // Alphabetize the list

    termList.sort(pageSorter);

    // Now move the important items to the top; these are items tagged "Important".

    for (var i=0; i<numTerms; i++) {
        if (page.hasTag(termList[i], "Important")) {
            importantList.push(termList[i]);
        } else {
            regularList.push(termList[i]);
        }
    }

    termList = importantList.concat(regularList);

    var articleList = [];

    termList.forEach(function(aPage) {
        if (!page.hasTag("junk") && (aPage.title != "Index")) {
            var article = {
                title: aPage.title,
                url: aPage.url
            };

            var summary = aPage.summary;

            if (summary && summary != undefined) {
                summary = summary.replace(/<img[^>]*>/g," ");
            } else {
                summary = mdn.getLocalString(commonLocalStrings, "summary");
            }

            article.summary = summary;
            articleList.push(article);
        }
    });
}
%>
<dl class="landingPageList">
<%
    for (n in articleList) {
%>
        <dt><a href="<%= articleList[n].url %>"><%= articleList[n].title %></a></dt>
        <dd><%- articleList[n].summary %></dd>
<%
    }
%>
</dl>
