<%
//    Outputs a link to an SVG Attribut's reference page.
//
//    Parameters:
//        $0  SVG attribut name

var attrName     = $0;
var slug         = string.deserialize(template("L10n:Slug"));
var localStrings = string.deserialize(template("L10n:Common"));

slug = mdn.getLocalString(slug, "docs/Web/SVG/Attribut");

var URL = "/" + [env.locale, slug, attrName].join("/");

// Gather the page summary
var page = wiki.getPage(URL);
var summary = mdn.getLocalString(localStrings, "summary");

if (page && page.summary) {
    summary = mdn.escapeQuotes(page.summary);
}
%>
<a href="<%- URL %>" <%- wiki.pageExists(URL) ? '' : ' class="new"' %> title="<%-summary%>"><code><%= attrName %></code></a>
