<%

/* "en-US" is default for all locale */
var str = mdn.localString({
    "ar" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "ca" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "cs" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "de" : "Diese Seite wurde noch nicht vollständig überstetzt. Einige Inhalte sind daher möglicherweise noch nicht in Deutsch verfügbar.<br />Registriere dich und helfe dabei die Seite zu übersetzten!",
    "el" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "es" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "fa" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "fi" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "fr" : "Ce document est en cours de traduction vers le français. C'est la raison pour laquelle il est en partie dans une autre langue.<br />N'hésitez pas à vous inscrire et à nous aider à traduire le MDN!",
    "he" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "hr" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "hu" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "id" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "it" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "ja" : "この文書は翻訳中です。他国語のままの部分などがあるのはその為です。<br />是非お気軽に MDN に登録して翻訳に参加し、私たちの手助けをして下さい！",
    "ka" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "ko" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "nl" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "pl" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "ro" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "ru" : "Этот документ в процессе перевода. Вот почему он ещё содержит текст на другом языке.<br />Не стесняйтесь регистрироваться и помогать переводить MDN!",
    "sq" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "th" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "tr" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "vi" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "bn-BD" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "fy-NL" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "ga-IE" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "pt-BR" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "pt-PT" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "zh-CN" : "文本正在翻译中！我们很缺人手，所以翻译进度有点慢，赶紧加入进来一起翻译吧！",
    "zh-TW" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!",
    "en-US" : "This document is in progress to be translated. That's why it still contains text in another language.<br />Feel free to register and to help translate MDN!"
})
 
%><div class="overheadIndicator translationInProgress translationInProgressHeader">
    <p><%- str %></p>
</div>
