<%

var sidebarUtils = require("SidebarUtilities");
var hasTag = page.hasTag;
var pageModule = page;

var slug = env.slug;

var output = "";

function classifyPages(subpages) {
  var collection = {
      properties: [],
      methods: [],
      events: [],
      types: []
  }
  
  subpages.forEach(function(subpage) {
    if (hasTag(subpage, "Property")) {
      collection.properties.push(subpage);
    }
    if (hasTag(subpage, "Method")) {
      collection.methods.push(subpage);
    }
    if (hasTag(subpage, "Type")) {
      collection.types.push(subpage);
    }
    if (hasTag(subpage, "Event")) {
      collection.events.push(subpage);
    }
  });

  return collection;
}

function buildSidebar(slug) {
  if (!slug) {
    return;
  }
  
  var pathComponents = slug.split("/");
  if (pathComponents < 2) {
    return;
  }
  
  // find out where we are in the tree
  var leafDocument = pathComponents[pathComponents.length-1];
  // 1) we are at the root
  if (leafDocument == "API") {
    buildSidebarForRoot(slug);
  }
  else {
    parentDocument = pathComponents[pathComponents.length-2];
    var apiPath = "";
    if (parentDocument == "API") {
      // 2) we are at an API overview
      apiPath = slug;
      buildSidebarForAPI(apiPath, leafDocument);
    }
    else {
      // 3) we are at an API component page (method, property, ...)
      apiPath = slug.slice(0, apiPath.length - (leafDocument.length + 1));
      buildSidebarForAPI(apiPath, parentDocument);
    }
  }
}

function buildSidebarForRoot(path) {
  output = '<section class="Quick_links" id="Quick_Links"><ol>';
  var subpages = pageModule.subpagesExpand("/en-US/docs/" + path);
  output += sidebarUtils.buildSublist(subpages, "API Reference");
  output += '</ol></section>';
}

function buildSidebarForAPI(path, parent) {
  output = '<section class="Quick_links" id="Quick_Links"><ol>';
  output += '<li><strong><a href="' +  "/en-US/docs/" + path + '"><code>' + parent + '</a></code></strong></li>';
  
  var subpages = pageModule.subpagesExpand("/en-US/docs/" + path);
  var pageCollection = classifyPages(subpages);
  
  if (pageCollection.methods.length > 0) {
    output += sidebarUtils.buildSublist(pageCollection.methods, "Methods");
  }
  if (pageCollection.properties.length > 0) {
    output += sidebarUtils.buildSublist(pageCollection.properties, "Properties");
  }
  if (pageCollection.types.length > 0) {
    output += sidebarUtils.buildSublist(pageCollection.types, "Types");
  }
  if (pageCollection.events.length > 0) {
    output += sidebarUtils.buildSublist(pageCollection.events, "Events");
  }
  output += '</ol></section>';
}

buildSidebar(env.slug);

%>

<%-output%>
