<ul>
<li><a href="/en-US/Mozilla_event_reference/open_websocket"><code>open</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/close_websocket"><code>close</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/error_websocket"><code>error</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/message_websocket"><code>message</code></a></li>
</ul>
