<ul>
<li><%-template("event", ["statuschange"])%></li>
<li><%-template("event", ["connectionInfoUpdate"])%></li>
<li><%-template("event", ["enabled"])%></li>
<li><%-template("event", ["disabled"])%></li>
</ul>
