<%
// Inserts a link to an XBL method's documentation, with proper formatting.
//
//  $0 - Method name

var lang = env.locale;

var refName = mdn.localString({
    'en-US': "XBL 1.0 Reference",
    'fr': "Référence XBL 1.0",
    'pl': "Dokumentacja XBL 1.0",
    'ru': "Документация XBL 1.0",
    'zh-CN': 'XBL 1.0 参考资料'
});
var elemName = mdn.localString({
    'en-US': "DOM Interfaces",
    'fr': "Éléments",
    'pl': "Interfejsy DOM",
    'ru': "Элементы",
    'zh-CN': 'DOM 接口'
});
var destOldType = "/" + lang + '/docs/XBL:' + refName + ':' + elemName;
var destNewType = "/" + lang + '/docs/XBL/' + refName + '/' + elemName;
var url = "";

if (wiki.pageExists(destNewType)) {
    url = destNewType;
} else if (wiki.pageExists(destOldType)) {
    url = destOldType;
} else {
    url = destNewType;
}

    url = web.spacesToUnderscores(url + "#" + $0);
%>
<code><a href="<%=url%>"><%=$0%>()</a></code>
