<%
var title = mdn.localString({
    'en-US': "XPCOM API Reference",
    'fr': "Référence de l'API XPCOM",
    'ja': "XPCOM API Reference",
    'ko': "XPCOM API Reference",
    'pl': "Dokumentacja API XPCOM",
    'ru': "Справочник XPCOM API",
    "zh-CN": "XPCOM API 参考资料"
});
%>
&laquo; <a href="/<%=env.locale%>/docs/XPCOM_API_Reference"><%=title%></a>
