<ol>
<li><a href="/fr/docs/XSLT_dans_Gecko">Introduction</a></li>
<li><a href="/fr/docs/XSLT_dans_Gecko/Exemple_basique">Exemple basique</a></li>
<li><a href="/fr/docs/XSLT_dans_Gecko/G%c3%a9n%c3%a9ration_de_HTML">Génération de HTML</a></li>
<li><a href="/fr/docs/XSLT_dans_Gecko/Diff%c3%a9rences_entre_les_navigateurs">Différences entre les navigateurs</a></li>
<li><a href="/fr/docs/XSLT_dans_Gecko/Ressources">Ressources</a></li>
</ol>
