<ol>
    <li><a href="/fr/docs/L'interface_XSLT%2f%2fJavaScript_dans_Gecko">Introduction</a></li>
    <li><a href="/fr/docs/L'interface_XSLT%2f%2fJavaScript_dans_Gecko/Les_liaisons_JavaScript%2f%2fXSLT">Les liaisons JavaScript/XSLT</a></li>
    <li><a href="/fr/docs/L'interface_XSLT%2f%2fJavaScript_dans_Gecko/Exemple_basique">Exemple basique</a></li>
	<li><a href="/fr/docs/L'interface_XSLT%2f%2fJavaScript_dans_Gecko/D%c3%a9finition_de_param%c3%a8tres">Définition de paramètres</a></li>
	<li><a href="/fr/docs/L'interface_XSLT%2f%2fJavaScript_dans_Gecko/Exemple_avanc%c3%a9">Exemple avancé</a></li>
	<li><a href="/fr/docs/L'interface_XSLT%2f%2fJavaScript_dans_Gecko/Liste_des_interfaces">Liste des interfaces</a></li>
	<li><a href="/fr/docs/L'interface_XSLT%2f%2fJavaScript_dans_Gecko/Ressources">Ressources</a></li>
</ol>
