<span lang='en' class='lang lang-en'><h3 name="Inherited_from_XUL_element">Inherited from XUL element</h3>
<h5 name="Attributes">Attributes</h5>
<p><a href="en/XUL/align">align</a>,
<a href="en/XUL/allowevents">allowevents</a>,
<a href="en/XUL/allownegativeassertions">allownegativeassertions</a>,
<a href="en/XUL/class">class</a>,
<a href="en/XUL/coalesceduplicatearcs">coalesceduplicatearcs</a>,
<a href="en/XUL/collapsed">collapsed</a>,
<a href="en/XUL/container">container</a>,
<a href="en/XUL/containment">containment</a>,
<a href="en/XUL/context">context</a>,
<a href="en/XUL/contextmenu">contextmenu</a>,
<a href="en/XUL/datasources">datasources</a>,
<a href="en/XUL/dir">dir</a>,
<a href="en/XUL/empty">empty</a>,
<a href="en/XUL/equalsize">equalsize</a>,
<a href="en/XUL/flags">flags</a>,
<a href="en/XUL/flex">flex</a>,
<a href="en/XUL/height">height</a>,
<a href="en/XUL/hidden">hidden</a>,
<a href="en/XUL/id">id</a>,
<a href="en/XUL/insertafter">insertafter</a>,
<a href="en/XUL/insertbefore">insertbefore</a>,
<a href="en/XUL/left">left</a>,
<a href="en/XUL/maxheight">maxheight</a>,
<a href="en/XUL/maxwidth">maxwidth</a>,
<a href="en/XUL/menu">menu</a>,
<a href="en/XUL/minheight">minheight</a>,
<a href="en/XUL/minwidth">minwidth</a>,
<a href="en/XUL/mousethrough">mousethrough</a>,
<a href="en/XUL/observes">observes</a>,
<a href="en/XUL/ordinal">ordinal</a>,
<a href="en/XUL/orient">orient</a>,
<a href="en/XUL/pack">pack</a>,
<a href="en/XUL/persist">persist</a>,
<a href="en/XUL/popup">popup</a>,
<a href="en/XUL/position">position</a>,
<a href="en/XUL/preference-editable">preference-editable</a>,
<a href="en/XUL/ref">ref</a>,
<a href="en/XUL/removeelement">removeelement</a>,
<a href="en/XUL/sortDirection">sortDirection</a>,
<a href="en/XUL/sortResource">sortResource</a>,
<a href="en/XUL/sortResource2">sortResource2</a>,
<a href="en/XUL/statustext">statustext</a>,
<a href="en/XUL/style">style</a>,
<a href="en/XUL/template">template</a>,
<a href="en/XUL/tooltip">tooltip</a>,
<a href="en/XUL/tooltiptext">tooltiptext</a>,
<a href="en/XUL/top">top</a>,
<a href="en/XUL/uri">uri</a>,
<a href="en/XUL/wait-cursor">wait-cursor</a>,
<a href="en/XUL/width">width</a>
</p>
<h5 name="Style_Classes">Style Classes</h5>
<p><a href="en/XUL/style/Classes%3a">Classes:</a>,
<a href="en/XUL/style/box-inset">box-inset</a>,
<a href="en/XUL/style/box-padded">box-padded</a>,
<a href="en/XUL/style/groove-bottom">groove-bottom</a>,
<a href="en/XUL/style/groove-left">groove-left</a>,
<a href="en/XUL/style/groove-right">groove-right</a>,
<a href="en/XUL/style/groove-top">groove-top</a>,
<a href="en/XUL/style/inset">inset</a>,
<a href="en/XUL/style/outset">outset</a>,
<a href="en/XUL/style/outset-top-bottom">outset-top-bottom</a>
</p>
<h5 name="Properties_and_Methods">Properties and Methods</h5>
<p><a href="en/XUL/align">align</a>,
<a href="en/XUL/allowEvents">allowEvents</a>,
<a href="en/XUL/blur">blur</a>,
<a href="en/XUL/boxObject">boxObject</a>,
<a href="en/XUL/boxObject.element">boxObject.element</a>,
<a href="en/XUL/boxObject.getLookAndFeelMetric">boxObject.getLookAndFeelMetric</a>,
<a href="en/XUL/boxObject.height">boxObject.height</a>,
<a href="en/XUL/boxObject.screenX">boxObject.screenX</a>,
<a href="en/XUL/boxObject.screenY">boxObject.screenY</a>,
<a href="en/XUL/boxObject.width">boxObject.width</a>,
<a href="en/XUL/boxObject.x">boxObject.x</a>,
<a href="en/XUL/boxObject.y">boxObject.y</a>,
<a href="en/XUL/builder">builder</a>,
<a href="en/XUL/className">className</a>,
<a href="en/XUL/click">click</a>,
<a href="en/XUL/collapsed">collapsed</a>,
<a href="en/XUL/contextMenu">contextMenu</a>,
<a href="en/XUL/controllers">controllers</a>,
<a href="en/XUL/database">database</a>,
<a href="en/XUL/datasources">datasources</a>,
<a href="en/XUL/dir">dir</a>,
<a href="en/XUL/doCommand">doCommand</a>,
<a href="en/XUL/flex">flex</a>,
<a href="en/XUL/focus">focus</a>,
<a href="en/XUL/getElementsByAttribute">getElementsByAttribute</a>,
<a href="en/XUL/height">height</a>,
<a href="en/XUL/hidden">hidden</a>,
<a href="en/XUL/id">id</a>,
<a href="en/XUL/left">left</a>,
<a href="en/XUL/maxHeight">maxHeight</a>,
<a href="en/XUL/maxWidth">maxWidth</a>,
<a href="en/XUL/menu">menu</a>,
<a href="en/XUL/minHeight">minHeight</a>,
<a href="en/XUL/minWidth">minWidth</a>,
<a href="en/XUL/observes">observes</a>,
<a href="en/XUL/ordinal">ordinal</a>,
<a href="en/XUL/orient">orient</a>,
<a href="en/XUL/pack">pack</a>,
<a href="en/XUL/persist">persist</a>,
<a href="en/XUL/ref">ref</a>,
<a href="en/XUL/resource">resource</a>,
<a href="en/XUL/statusText">statusText</a>,
<a href="en/XUL/style">style</a>,
<a href="en/XUL/tooltip">tooltip</a>,
<a href="en/XUL/tooltipText">tooltipText</a>,
<a href="en/XUL/top">top</a>,
<a href="en/XUL/width">width</a>
</p></span><span lang='*' class='lang lang-*'><h3 name="Inherited_from_XUL_element">Inherited from XUL element</h3>
<h5 name="Attributes">Attributes</h5>
<p><a href="en/XUL/align">align</a>,
<a href="en/XUL/allowevents">allowevents</a>,
<a href="en/XUL/allownegativeassertions">allownegativeassertions</a>,
<a href="en/XUL/class">class</a>,
<a href="en/XUL/coalesceduplicatearcs">coalesceduplicatearcs</a>,
<a href="en/XUL/collapsed">collapsed</a>,
<a href="en/XUL/container">container</a>,
<a href="en/XUL/containment">containment</a>,
<a href="en/XUL/context">context</a>,
<a href="en/XUL/contextmenu">contextmenu</a>,
<a href="en/XUL/datasources">datasources</a>,
<a href="en/XUL/dir">dir</a>,
<a href="en/XUL/empty">empty</a>,
<a href="en/XUL/equalsize">equalsize</a>,
<a href="en/XUL/flags">flags</a>,
<a href="en/XUL/flex">flex</a>,
<a href="en/XUL/height">height</a>,
<a href="en/XUL/hidden">hidden</a>,
<a href="en/XUL/id">id</a>,
<a href="en/XUL/insertafter">insertafter</a>,
<a href="en/XUL/insertbefore">insertbefore</a>,
<a href="en/XUL/left">left</a>,
<a href="en/XUL/maxheight">maxheight</a>,
<a href="en/XUL/maxwidth">maxwidth</a>,
<a href="en/XUL/menu">menu</a>,
<a href="en/XUL/minheight">minheight</a>,
<a href="en/XUL/minwidth">minwidth</a>,
<a href="en/XUL/mousethrough">mousethrough</a>,
<a href="en/XUL/observes">observes</a>,
<a href="en/XUL/ordinal">ordinal</a>,
<a href="en/XUL/orient">orient</a>,
<a href="en/XUL/pack">pack</a>,
<a href="en/XUL/persist">persist</a>,
<a href="en/XUL/popup">popup</a>,
<a href="en/XUL/position">position</a>,
<a href="en/XUL/preference-editable">preference-editable</a>,
<a href="en/XUL/ref">ref</a>,
<a href="en/XUL/removeelement">removeelement</a>,
<a href="en/XUL/sortDirection">sortDirection</a>,
<a href="en/XUL/sortResource">sortResource</a>,
<a href="en/XUL/sortResource2">sortResource2</a>,
<a href="en/XUL/statustext">statustext</a>,
<a href="en/XUL/style">style</a>,
<a href="en/XUL/template">template</a>,
<a href="en/XUL/tooltip">tooltip</a>,
<a href="en/XUL/tooltiptext">tooltiptext</a>,
<a href="en/XUL/top">top</a>,
<a href="en/XUL/uri">uri</a>,
<a href="en/XUL/wait-cursor">wait-cursor</a>,
<a href="en/XUL/width">width</a>
</p>
<h5 name="Style_Classes">Style Classes</h5>
<p><a href="en/XUL/style/Classes%3a">Classes:</a>,
<a href="en/XUL/style/box-inset">box-inset</a>,
<a href="en/XUL/style/box-padded">box-padded</a>,
<a href="en/XUL/style/groove-bottom">groove-bottom</a>,
<a href="en/XUL/style/groove-left">groove-left</a>,
<a href="en/XUL/style/groove-right">groove-right</a>,
<a href="en/XUL/style/groove-top">groove-top</a>,
<a href="en/XUL/style/inset">inset</a>,
<a href="en/XUL/style/outset">outset</a>,
<a href="en/XUL/style/outset-top-bottom">outset-top-bottom</a>
</p>
<h5 name="Properties_and_Methods">Properties and Methods</h5>
<p><a href="en/XUL/align">align</a>,
<a href="en/XUL/allowEvents">allowEvents</a>,
<a href="en/XUL/blur">blur</a>,
<a href="en/XUL/boxObject">boxObject</a>,
<a href="en/XUL/boxObject.element">boxObject.element</a>,
<a href="en/XUL/boxObject.getLookAndFeelMetric">boxObject.getLookAndFeelMetric</a>,
<a href="en/XUL/boxObject.height">boxObject.height</a>,
<a href="en/XUL/boxObject.screenX">boxObject.screenX</a>,
<a href="en/XUL/boxObject.screenY">boxObject.screenY</a>,
<a href="en/XUL/boxObject.width">boxObject.width</a>,
<a href="en/XUL/boxObject.x">boxObject.x</a>,
<a href="en/XUL/boxObject.y">boxObject.y</a>,
<a href="en/XUL/builder">builder</a>,
<a href="en/XUL/className">className</a>,
<a href="en/XUL/click">click</a>,
<a href="en/XUL/collapsed">collapsed</a>,
<a href="en/XUL/contextMenu">contextMenu</a>,
<a href="en/XUL/controllers">controllers</a>,
<a href="en/XUL/database">database</a>,
<a href="en/XUL/datasources">datasources</a>,
<a href="en/XUL/dir">dir</a>,
<a href="en/XUL/doCommand">doCommand</a>,
<a href="en/XUL/flex">flex</a>,
<a href="en/XUL/focus">focus</a>,
<a href="en/XUL/getElementsByAttribute">getElementsByAttribute</a>,
<a href="en/XUL/height">height</a>,
<a href="en/XUL/hidden">hidden</a>,
<a href="en/XUL/id">id</a>,
<a href="en/XUL/left">left</a>,
<a href="en/XUL/maxHeight">maxHeight</a>,
<a href="en/XUL/maxWidth">maxWidth</a>,
<a href="en/XUL/menu">menu</a>,
<a href="en/XUL/minHeight">minHeight</a>,
<a href="en/XUL/minWidth">minWidth</a>,
<a href="en/XUL/observes">observes</a>,
<a href="en/XUL/ordinal">ordinal</a>,
<a href="en/XUL/orient">orient</a>,
<a href="en/XUL/pack">pack</a>,
<a href="en/XUL/persist">persist</a>,
<a href="en/XUL/ref">ref</a>,
<a href="en/XUL/resource">resource</a>,
<a href="en/XUL/statusText">statusText</a>,
<a href="en/XUL/style">style</a>,
<a href="en/XUL/tooltip">tooltip</a>,
<a href="en/XUL/tooltipText">tooltipText</a>,
<a href="en/XUL/top">top</a>,
<a href="en/XUL/width">width</a>
</p></span>
