<dl>
<dt>vbox</dt>
<dd>A container element which can contain any number of child elements. This is equivalent to the <a href="/en-US/docs/XUL/box">box</a> element, except it defaults to vertical orientation.
</dd>
</dl>
