<%
// todo: path = '/' + env.locale + '/XUL/Property' maybe work?
var path = mdn.localString({
    "en-US": 'en-US/XUL/Property',
    'de':    'de/XUL/Eigenschaften',
    'es':    'es/XUL/Property',
    'fr':    'fr/XUL/Propriétés',
    'ja':    'ja/XUL/Property',
    'ko':    'ko/XUL/Property',
    'pl':    'pl/XUL/Własność',
    'ru':    'ru/XUL/Property',
    'zh-CN': 'zh-CN/XUL/Property'
});
%>
<div id="<%='p-' + $0%>"><%- wiki.page(path + '/' + $0) %></div>
