<%
// Inserts a link to the top page of the XUL Reference. This should be used
// at the top of XUL Reference subpages.

var title = mdn.localString({
    "en-US": "XUL Reference home",
    "de": "Startseite XUL Referenz",
    "es": "Referencia de XUL",
    "fr": "Référence XUL",
    "ja": "XUL リファレンス HOME",
    "ko": "XUL Reference",
    "pl": "Dokumentacja XUL",
    "ru": "XUL Справочник",
    "pt-BR": "Referência XUL",
    "zh-CN": "XUL 参考资料"
});
title = "« " + title;

var url = "/" + env.locale + mdn.localString({
    "en-US": "/docs/XUL_Reference"
});

%><a href="<%=url%>" title="<%=title%>"><%=title%></a>
