<div class="breadcrumbs">
メインページ &raquo; <a href="/ja/docs/tag/移行">移行してきた文書</a> &raquo; <%-
    template("web.html",[$1])
%> （※外部サイトからの移行）
</div>

<div class="warning">
この記事は Mozilla Japan 翻訳部門または関連グループにより過去に翻訳された文書を移行したものです。 <%-
    template("mediawiki.external", [$0 + ' 移行元の文書'])
%>。よって、英語版と内容が異なる場合や、MDN の他の記事との整合性がとれていない場合があります。
</div>
