<%

var p1 = ($1) ? $1 : "";

%><ul>
    <li><a href="https://lists.mozilla.org/listinfo/<%- $0 %>">郵件討論</a></li>
    <li><a href="news://news.mozilla.org/<%- p1 %>">新聞群組</a></li>
    <li><a href="http://groups.google.com/group/<%- p1 %>">Google 群組</a></li>
    <li><a href="http://groups.google.com/group/<%- p1 %>">feeds 消息來源</a></li>
</ul>
